<!-- Song -->
<div class="img-container">
  <img src="assets/images/music-bg.jpeg" alt="Album art" />
</div>
<h2
  title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam nam ut
sapiente molestias, ullam, adipisci quod quidem distinctio culpa veritatis
provident sed perspiciatis fugit laudantium saepe impedit excepturi cupiditate
fugiat molestiae illo! Commodi possimus tempore necessitatibus quo hic veniam
animi mollitia soluta voluptates sed officiis quos quia eius, ratione
molestiae!"
>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam nam ut
  sapiente molestias, ullam, adipisci quod quidem distinctio culpa veritatis
  provident sed perspiciatis fugit laudantium saepe impedit excepturi cupiditate
  fugiat molestiae illo! Commodi possimus tempore necessitatibus quo hic veniam
  animi mollitia soluta voluptates sed officiis quos quia eius, ratione
  molestiae!
</h2>
<h3
  title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor minus inventore
voluptate aliquam nisi incidunt optio itaque error, facere nesciunt autem,
magnam ipsam repellat voluptatem tempora architecto blanditiis perferendis.
Asperiores."
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor minus inventore
  voluptate aliquam nisi incidunt optio itaque error, facere nesciunt autem,
  magnam ipsam repellat voluptatem tempora architecto blanditiis perferendis.
  Asperiores.
</h3>
<audio src="assets/audios/nanana.mp3"></audio>

<!-- Progress -->
<div class="progress-container">
  <div class="duration-wrapper">
    <span class="current-time">00:00</span>
    <span class="duration"> 04:12 </span>
  </div>
  <div class="progress"></div>
</div>

<!-- Controls -->
<div class="controls-container">
  <i class="fas fa-backward" title="Previous song"></i>
  <i class="fas fa-play main-button" title="Play"></i>
  <i class="fas fa-forward" title="Next song"></i>
</div>
